@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-deepblue: rgb(22, 21, 52);
    --color-deeppurple: rgb(36, 34, 87);
    --color-seablue: rgb(57, 57, 171);
    --color-purple: rgb(111, 71, 189);
    --color-green: rgb(4, 181, 169);

    --font-dmsans: DM Sans, sans-serif;
  }
